.page {
    position: absolute;
    width: 100%;
    height: 80%;
    max-width: 400px;
    padding: 0 30px;
    margin-top: 7%;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #d5e4ed;
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 50px;
    font-size: 27px;
    font-weight: 600;
    color: #0e2d67;
}

.content {
    margin-top: 30px;
    flex: 1;
}

.inputWrap {
    display: flex;
    border-radius: 8px;
    padding: 12px;
    margin-top: 27px;
    border: 1px solid #fff;
    background-color: #fff;
}
.inputWrap:focus-within {
    border: 1px solid #0e2d67;
}

.input {
    width: 100%;
    outline: none;
    border: none;
    height: 17px;
    font-size: 14px;
}

.errorMessage {
    color: red;
    font-size: 11px;
    margin-top:10px;
    margin-left: 5px;
}

.bottomButton {
    width: 100%;
	height: 48px;
    border: none;
    border-radius: 64px;
    background-color: rgb(14, 45, 103);
    color: white;
    font-weight: 600;
    margin-top: 12%;
    cursor: pointer;
    font-size: 15px;
}

.note {
    position: absolute;
    width: 49px;
    height: 49px;
    margin-left: 14px;
}

.option {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 15%;
}

.accountbutton{
    display: flex;
    justify-content: center;
    border:none;
    background-color: #d5e4ed;
    color: #96979C;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 15px;
    margin-bottom:auto;
    margin-left: 3px;
}

.hr-sen {
    display: flex; 
    flex-basis: 100%; 
    align-items: center; 
    font-size: 12px; 
    margin: 38px 10px;
    color: #96979C;
    font-weight: 700;
}

.hr-sen::before, .hr-sen::after {
    content: ""; 
    flex-grow: 1; 
    /* background: rgba(0, 0, 0, 0.35);  */
    background: #96979C;
    height: 1px; 
    font-size: 0px; 
    line-height: 0px; 
    margin: 0px 6px;
}

.social-login {
    display: flex;
    justify-content: center;
    margin-top: 40px;    
}

.naver {
    border-radius: 100%;
    border: none;
    width: 39px;
    height: 39px;
    background-color: #1DC800;
    margin-left: 10px;
    color: #fff;
}

.kakao {
    border-radius: 100%;
    border: none;
    width: 39px;
    height: 39px;
    margin-right: 40px;
    background-color: #FAE300;
}

.detail {
    width: 25px;
    height: 25px;
}

.google {
    border-radius: 100%;
    border: none;
    width: 39px;
    height: 39px;
    margin-left: 50px;
}

.plus {
    width: 35px;
    height: 35px;
    position: absolute;
    margin-left: 10px;
}